body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  text-align: left;
  margin: 20px;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-text {
  font-family: 'Viga', 'sans-serif';
}

.header-border-one, .header-border-two, .header-border-three {
  border-bottom: 2px solid rgb(157, 193, 214);
  margin-bottom: 2px;  
  margin-left: auto;
  width: 90%;
}

.header-border-one {
  width: 100%;
}

.header-border-two {
  width: 95%;
}

.header-border-three {
  width: 90%;
}

.header-buttons {
  display: flex;
  align-items: flex-start;
}

#standings {
  display: flex;
  flex-wrap: wrap;
}

.standings-charts {
  flex: 4;
}

.standings-table {
  flex: 5;
  margin: 0 30px;
}

.standings-row {
  display: flex;
}

.standings-row-header {
  font-weight: bold;
  border-top: solid rgb(214, 214, 214) 1px;
  border-bottom: solid rgb(214, 214, 214) 2px;
}

.standings-column {
  flex: 1;
  text-align: left;
  font-size: 12px;  
}

.standings-column-extended {
  flex: 3;
}

.home-row {
  display: flex;
}

.preview-container {
  flex: 1;
  margin: 10px 50px;
}

.preview-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(65, 108, 250);
  margin-bottom: 5px;
  padding: 3px 15px;
  font-weight: bold;
  color: white;
}

.preview-content {
  display: flex;
}

.preview-image {
  /* flex: 1; */
}

.preview-list {
  flex: 2;
}

.preview-row {
  display: flex;
  text-align: left;
}

.preview-column {
  min-width: 150px;
  margin-left: 10px;
}

.defense-container {
  display: flex;
  padding: 30px;
}

.defense-container-charts {
  flex: 1;
}

.defense-container-table {
  flex: 2;
}

.horizontal-charts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.vertical-charts {
  display: flex;
  flex-direction: column;
}

.pie-chart {
  display: flex;
  margin: 15px 0 0 10px;;
}

.legend {
  margin: 40px 0 0 30px;
  min-width: 200px;
}

.legend-row {
  display: flex;
  margin-bottom: 5px;
}

.legend-item {
  margin-right: 5px;
}

.custom-table {
  flex: 2;
}

.custom-row {
  display: flex;
  border-bottom: 1px solid lightgray;  
}

.custom-header {
  font-weight: bold;
  border-top: 1px solid lightgray;    
  border-bottom: 2px solid dimgray;
}

.custom-column {
  padding: 5px 20px 5px 10px;
  flex: 1;
  text-align: left;
}

.custom-column-shorten {
  flex: 1;
}

.custom-column-extended {
  flex: 2;
}

/* Utilities */

.btn {
  margin-right: 5px;
}